@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --primary-color:#760135;
	--seccess-color:#25B456;
}

body{
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}
button{
    border: none;
    background: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover, button:hover{
    color: var(--primary-color);
}



/* HEADER START */
.top-header{
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}
.top-header::after{
    z-index: 1;
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    height: 1px;
    background-color: #E0E1E6;
}
.top-header__L-menu{
    display: flex;
    align-items: center;
}
.top-header__L-menu__item{
    position: relative;
    display: inline-block;
    padding: 16px 0;
    margin-right: 16px;
    color: gray;
}
.top-header__L-menu__item:nth-child(2){
    padding-right: 16px;
}
.top-header__L-menu__item:nth-child(2)::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 20px;
    background-color: #E0E1E6;
}
.top-header__L-menu__item_active{
    border-bottom: 2px solid var(--primary-color);
    font-weight: 500;
    color: black;
    line-height: 100%;
}
.top-header__R-menu{
    display: flex;
    align-items: center;  
    
}
.top-header__R-menu__tel{
    display: inline-block;
    color: var(--primary-color);
    font-weight: 500;    
    padding: 16px 0 16px 0;
}
.top-header__R-menu__location{
    margin-left: 16px;
    font-weight: 400;    
    position: relative;
}
.top-header__R-menu__location::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('img/icons/location.svg') no-repeat center;
    margin-right: 5px;
    vertical-align: middle;
  }
.top-header__R-menu__language{
    margin-left: 16px;
    font-weight: 400;    
    padding: 16px 0 16px 0;
}

.down-header{
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}
.down-header__L-menu__logo{
    display: inline-flex;
    vertical-align: middle;    
    padding: 19px 24px 19px 0;
}
.down-header__L-menu__item, .down-header__L-menu__button{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0px;
    padding-right: 16px;
    color: #0D0D0D;
}
.down-header__L-menu__button:after {
    content: "";
    display: inline-block;
    width: 16px; 
    height: 16px; 
    background: url('img/icons/chevron_header.svg') no-repeat center;
    margin-left: 8px;
    vertical-align: middle;
}
.level-header{display: none;}
.down-header__R-menu {
    font-weight: 500;
    display: flex;
    align-items: center;
}
.down-header__R-menu__call {
    color: var(--seccess-color);
}
.down-header__R-menu__call::before {
    display: inline-block;
    content: '';
    width: 24px;
    height: 24px; 
    background: url('img/icons/Phone.svg') no-repeat center;
    margin-right: 8px;
    vertical-align: middle;
}
.down-header__R-menu__online-bank {
    color: var(--primary-color);
    margin-left: 16px;
}
.down-header__R-menu__online-bank::before {
    display: inline-block;
    content: '';
    width: 24px;
    height: 24px;
    background: url('img/icons/login.svg') no-repeat center;
    margin-right: 8px;
    vertical-align: middle;
}
.down-header__R-menu__hamburger{
    display: none;
}
/* HEADER END */
/* BANNER START */
.banner{
    background: linear-gradient(264.42deg, #FEE4FF 0%, #EFF9FF 100%);
    position: relative;
    height: 380px;
    overflow: hidden;
}
.banner__breadcrumb {
    padding: 0 60px;
    padding-top: 16px;
    position: absolute;
}
.banner__breadcrumb__ul {
    display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}
.banner__breadcrumb__li:not(:last-child){
    opacity: 50%;
}
.banner__breadcrumb__li:not(:last-child)::after {
    opacity: 50%;
    content: "";
    display: inline-block;
    width: 16px; 
    height: 16px; 
    background: url('img/icons/chevron_nav.svg') no-repeat center;
    margin: 0 8px;
    vertical-align: middle;
}

.banner__info{
    position: absolute;
    padding: 0 60px;
}
.banner__info h1{
    position: relative;
    font-size: 38px;
    font-weight: 600;
    margin-top: 112px;
    z-index: 5;
}
.banner__info p{
    position: relative;
    font-weight: 400;
    padding: 0;
    margin: 16px 0 38px 0;
    z-index: 5;
}
.banner__info__button{
    position: relative;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 14px 78px;
    color: white;
    font-weight: 500;
    z-index: 5;
}
.banner__info .banner__info__button:hover{
    background-color:white;
    color: var(--primary-color);
}
.banner__img{
    position: absolute;
    left: 55%;
    overflow: hidden;
    z-index: 4;
}
.banner::before {
    content: "";
    width: 1500px;
    height: 1500px;
    position: absolute;
	background: url(img/Group693.png);
    overflow: hidden;
	transform: rotate(-54.1deg);
	opacity: 5%;
	top:-600px;
	left: 130px;
} 
.banner__info::after {
    content: "";
    position: absolute;
    background: rgba(164, 196, 255, 1);
    filter: blur(100px);
    border-radius: 50%;
    width: 113px;
    height: 143px;
    top: 72px;
    left: 589px;
    overflow: hidden;
    z-index: 2;
} 
/* BANNER END */
/* SELECTION START */

.selection{
	padding: 40px 173px 20px 173px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	background-color: #F7F9FA;
}
.selection__title{
	font-weight: 500;
	font-size: 32px;
}
.selection__collapse{
	background: #FFFFFF;
    color: var(--primary-color);
	padding: 10px 24px;
	border-radius: 8px;
	font-weight: 600;

}
.selection__collapse:after {
    content: "";
    display: inline-block;
    width: 24px; 
    height: 24px; 
    background: url('img/icons/chevron_collapse.svg') no-repeat center;
    margin-left: 10px;
    vertical-align: middle;
}
.selection__form{
	margin-top: 24px;
	flex-basis: 100%;
	display:flex;
	flex-wrap: wrap;
}
.selection__label{
	margin-left:20px;
	font-weight: 500;
	color: black;
	display: flex;
	flex-direction: column;
}
.selection__label span{
	margin-bottom:8px;
}
.selection__label:nth-child(1){ flex: 2; 	margin-left:0;}
.selection__label:nth-child(2){ flex: 1;}
.selection__label:nth-child(3){ flex: 2;}
.selection__price{
	width: 100%;
    display: flex;
    align-items: center;
    position: relative;
	justify-content: space-between;
}
.selection__input{
	width: 100%;
	border: #ECEDF0 1px solid;
	background: #F3F3F5;
	padding: 11px 16px;

	border-radius: 8px;
	margin-right:20px;
}
.selection__price .selection__input:last-child {
	margin-left: 20px; 
	margin-right: 0; }
.selection__price:before{
	content: "";
    display: block;
    width: 18px; 
	border-radius: 3px;
	border: #E6E7EB 2px solid;
    vertical-align: middle;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.selection__option{}


/* SELECTION END */
/* CARDS START */


.cards{
	display: flex;
	flex-wrap: wrap;
	background-color: #F7F9FA;
	padding: 0 173px 24px 173px;
}

.card-best{
	background: white;
	display: flex;
	border-radius: 16px;
	margin-bottom: 16px;
}
.card-best__info{
	margin: 40px;
	margin-right: 0;
	display: flex;
	flex-direction: column;	
}
.card-best__best-span{
	color: var(--seccess-color);
	font-weight: 500;
	font-size: 15px;
}
.card-best__title{
	font-weight: 500;
	font-size: 24px;
	color: #111111;
	margin: 8px 0 16px 0;;
}
.card-best__description{
	font-weight: 400;
	font-size: 15px;
	color: #282828;
	margin: 0;
}
.card-best__price{
	font-weight: 500;
	font-size: 24px;
	color:var(--primary-color);
	margin: 21px 0;
}
.card-best__more{
	font-weight: 400;
	font-size: 13px;
	color:var(--primary-color);
}
.card-best__img-slide{
	display: flex;
	align-items: center;
	position: relative;

}
.card-best__slide-left{
	
}
.card-best__image{
	width: 356px;
	height: 192px;
}
.card-best__img-slide::before{
	content: '';
	width: 76px;
	height: 100%;
	background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.card-best__img-slide::after{
		content: '';
	width: 76px;
	height: 100%;
	background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

}
.card-best__slide-right{
	width: 42px;
	height: 42px;
	background: url('img/icons/chevron_slide1.svg') no-repeat center;
	position: absolute;
	right:35px;
}
.card-best__slide-left{
	width: 42px;
	height: 42px;
	background: url('img/icons/chevron_slide1.svg') no-repeat center;
	transform: rotate(180deg);
	position: absolute;
	left:35px;
}




@media (max-width: 1024px) {
    
    .top-header{
        padding: 0;
    }
    .top-header__L-menu{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .top-header__L-menu__item{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 16px 0;
        color: #111111;
        font-weight: 500;
        width: 100%;
    } 
    .top-header__L-menu__item:nth-child(2) {
        padding: 16px 0;
    }
    .top-header__L-menu__item:nth-child(2)::before{
        content: '';
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 135%;
        background-color: #E0E1E6;
    }
    .top-header__L-menu__item:nth-child(2)::after{
        display: none;
    }
    .top-header__L-menu__item:nth-child(n+3){
        display: none;
    }
    .top-header__R-menu{
        display: none;
    }
    .top-header__L-menu__item_active{
        line-height: normal;
        border: none;
        color: gray;
    }
	
    .down-header{
        padding: 0 16px;
    }
    .down-header__L-menu__item, .down-header__L-menu__button{
        display: none;
    }
    .down-header__R-menu__hamburger{
        display: inline-block;
        background: url('img/icons/hamburger.svg') no-repeat center;
        width: 30px;
        height: 30px;
        margin-left: 16px;
    }
    .level-header{
        display: block;
        width: 100vw;
        border-top: 2px solid #E0E1E6;
    }
    .level-header__list{
        display: flex;  
        overflow-x: auto;   
        overflow-y: hidden;     
        white-space: nowrap;    
        -webkit-overflow-scrolling: touch;
    }
    .level-header__list__item, .level-header__list__button{
        padding: 16px 0 16px 16px;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0px;
        color: #0D0D0D;
    }
    .level-header__list__button::after{    
        content: "";
        display: inline-block;
		width: 10px; 
		height: 10px; 
        background: url('img/icons/chevron_header.svg') no-repeat center;
        margin-left: 8px;
        vertical-align: middle;
		}
		
    .level-header__last-level{display: none;}
    .banner__breadcrumb, .banner__info{
        padding: 0 16px;
        padding-top: 16px;
    }
    .banner__img{
        left: 50%;
    }
	.selection{
		padding: 40px 16px 40px 16px ;
	}
	.selection__label:nth-child(1){ flex: 1;}
	.selection__price:before{
		width: 16px; 
	}
}

@media (max-width: 600px) {
    .down-header__R-menu__call, .down-header__R-menu__online-bank{
        display: none;
    }
    .level-header__last-level__call {
        display: inline-block;
        color: #25B456;
    }
    .level-header__last-level__call::before {
        display: inline-block;
        content: '';
        width: 24px;
        height: 24px; 
        background: url('img/icons/Phone.svg') no-repeat center;
        margin-right: 8px;
        vertical-align: middle;
    }
    .level-header__last-level__online-bank {
        display: inline-block;
        color: var(--primary-color);
        margin-left: 16px;
        
    }
    .level-header__last-level__online-bank::before {
        display: inline-block;
        content: '';
        width: 24px;
        height: 24px;
        background: url('img/icons/login.svg') no-repeat center;
        margin-right: 8px;
        vertical-align: middle;
    }
    .level-header__last-level{
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #E0E1E6;
    }
    .level-header__last-level > *{
        padding: 16px 0;
        font-weight: 500;
    }
	
    .banner{
        height: 450px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(264.42deg, #FEE4FF 0%, #EFF9FF 100%);
    }
    .banner__info__button{display: none;}
    .banner h1{
        margin-top: 16px;
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
    }
    .banner p::first-letter {
        text-transform: uppercase;
    }
    .banner::before {
	top: -500px;
	left: -500px;
    }
    .banner__info{position: relative;}
    .banner__breadcrumb{position: relative;}
    .banner__img{
        display: inline-block;
        position: relative;
        left: -40px;
        align-self: center;
        justify-self: center;
    }
    .banner__info::after {
        content: "";
        position: absolute;
        background: rgba(215, 0, 102, 1);
        filter: blur(250px);
        border-radius: 50%;
        width: 273px;
        height: 273px;
        top: 314px;
        left: 145px;
        opacity: 0.5;        
        overflow: hidden;
        z-index: 2;
    } 
    .banner__info::before {
        content: "";
        position: absolute;
        background: rgba(164, 196, 255, 1);
        filter: blur(250px);
        border-radius: 50%;
        width: 273px;
        height: 273px;
        top: 314px;
        left: -75px;
        opacity: 0.5;     
        overflow: hidden;
        z-index: 2;
    } 
	.selection{
		padding-bottom: 32px;
	}
	.selection__title{
	font-size: 28px;
	}
	.selection__collapse{
		padding: 10px 24px;
		border-radius: 8px;
		font-weight: 600;
		flex-basis: 100%;
		margin-top: 24px;
	}
	.selection__form{
			display: flex;
		flex-wrap: wrap;
		justify-content:space-between;
	}
	.selection__label:nth-child(3){
		flex-basis:100%;
		margin-left: 0;
		margin-top: 16px;
	}
	.selection__price:before{
		width: 7px; 
	}
	.selection__price .selection__input {margin: 0; }
}

.hidden{
	display: none;
}